.btn-naranja, .btn-azul, .btn-firefox, .btn-azul-centered {
    border: none;
    border-radius: 4px;
}

.btn-azul, .btn-firefox, .btn-azul-centered {
    padding: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}

.btn-naranja {
    background: salmon;
    color: white;
    padding: 10px 15px;
    font-size: 0.9rem;
}

.btn-naranja:hover{
    background: white;
    color: salmon;
    border: 1px solid salmon;
}

.btns-getit{
    width: 80%;
    gap: 10%;
}

.btn-azul {
    background: #344CB7;
    color: white;
    box-shadow: 3px 3px 10px #c5c2c2;
}

.btn-firefox {
    background: #e8e9f0;
    color: #3D3D3D;
}

.btn-firefox:hover{
    background: white;
    color: #3D3D3D;
    border: 1px solid #3D3D3D;
}

.btn-azul-centered {
    background: #344CB7;
    color: white;
    box-shadow: 3px 3px 10px #c5c2c2;
}

.btn-azul:hover, .btn-azul-centered:hover{
    background: white;
    color: #344CB7;
    border: 1px solid #344CB7;
} 

.btn-hamburguer{
    background: none;
    border: none;
    cursor: pointer;
}