main{
    padding: 3% 15%;
    justify-content: space-around;
    align-items: center;
}

.izq{
    flex-direction: column;
    justify-content: center;
    padding: 3% 15% 5% 0;
    align-items: flex-start;
}

.izq h1{
    font-size: 3rem;
    margin-bottom: 3%;
}

.izq p{
    margin-bottom: 10%;
    font-size: 1.2rem;
}



@media ( max-width:724px ) {
    main{
        flex-wrap: wrap;
        text-align: center;
        padding: 3%;
    }

    .izq{
        order: 1;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .izq h1 {
        font-size: 2rem;
    }

    .izq p {
        margin-right: 0;
    }

    .btns-getit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5%;
      }

    .der-img{
        max-width: 100%;
        display: block;
        overflow-x: hidden;
    }

}