.FAQs{
    padding: 3% 15%;
}

.FAQs ul{
    flex-direction: column;
    list-style: none;
    margin: 7% 0px;
    padding: 0;
}

.FAQs ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 724px) {
    .FAQs{
        padding: 3%;
    }
}