footer{
    align-items: center;
    padding: 2% 15%;
    background-color: #09122C;
    justify-content: space-between;
}

.foot-enlace{
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-size: 0.9rem;
}

.footer-nav{
    gap: 10%;
}

.left-footer{
    align-items: center;
    gap: 10%;
}

.fb-logo{
    padding-right: 15px;
}

@media ( max-width:724px ) {
    footer{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .left-footer{
        flex-direction: column;
        gap: 20px;
    }

    .footer-nav{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}